<footer class="flex justify-between items-center flex-col lg:flex-row">
  <div>
    <h1>Контакты</h1>
    <div class="icon-text">
        <i class="pi pi-phone"></i>
        <p>+7 (901) 865-87-55</p>
    </div>
    <div class="icon-text">
        <i class="pi pi-inbox"></i>
        <p>example@gmail.com</p>
    </div>
  </div>
  <div class="container">
    <ya-map [center]="[57.627236, 53.321157]" [zoom]="16">
      <ya-placemark [geometry]="[57.627236, 53.321157]"></ya-placemark>
    </ya-map>
  </div>
</footer>
