:host {
    footer {
        background-color: var(--red);
        color: white;
    }

    .container {
        width: 600px;
        height: 250px;
        max-width: 100%;
    }

    i {
        color: white;
    }


}