<main>
  <ng-template #content>
    <ng-template #adminMainBlock [formGroup]="formMainInfo">
      <div class="gap-8 flex flex-col xl:flex-row items-center big-container">
        <div>
          <input style="width: fit-content;" placeholder="Заголовок" class="main-title" formControlName="title"><br>
          <input placeholder="Выделенный заголовок" class="super-title" formControlName="supertitle"><br>
          <textarea style="resize: both; width: 100%;" placeholder="URL картинки" formControlName="subtitle"></textarea>
        </div>
        <img class="main-img w-full xl:w-1/2" [src]="formMainInfo.value.main_image" alt="" />
      </div>
      <input placeholder="URL картинки" formControlName="main_image"><br><br>
      <button (click)="changeMain()">Сохранить</button>

      <div class="big-container">
        <h1 class="big-title">История "Мувыра"</h1>
        <p-carousel
          [value]="mainInfo.carousel_image"
          [responsiveOptions]="responsiveOptions"
        >
          <ng-template let-img pTemplate="item">
            <img class="carousel-img" [src]="img" [alt]="img" />
          </ng-template>
        </p-carousel>
        <div class="flex flex-wrap gap-4 mb-4" formArrayName="carousel_image">
          <div *ngFor="let el of carousel_image.controls; let i = index" class="flex gap-1">
            <input [formControlName]="i" type="text">
            <div class="icon-text icon-red w-fit" (click)="removeCarouselImage(i)">
              <i class="pi pi-times"></i>
            </div>
          </div>
          <div class="icon-text icon-green w-fit" (click)="addToCarouselImage()">
            <i class="pi pi-plus"></i>
          </div>
        </div>
        <textarea style="width: 100%;" formControlName="history_block">
          {{mainInfo.history_block}}
        </textarea><br><br>
        <button (click)="changeMain()">Сохранить</button>
      </div>
    </ng-template>

    <ng-container *ngIf="!isAdmin; else adminMainBlock">
      <div class="gap-8 flex flex-col xl:flex-row items-center big-container">
        <div>
          <h1 class="main-title">
            {{mainInfo.title}} <span class="super-title">{{mainInfo.supertitle}}</span>
          </h1>
          <p>
            {{mainInfo.subtitle}}
          </p>
        </div>
        <img class="main-img w-full xl:w-1/2" [src]="mainInfo.main_image" alt="" />
      </div>
  
      <div class="big-container">
        <h1 class="big-title">История "Мувыра"</h1>
        <p-carousel
          [value]="mainInfo.carousel_image"
          [responsiveOptions]="responsiveOptions"
        >
          <ng-template let-img pTemplate="item">
            <img class="carousel-img" [src]="img" [alt]="img" />
          </ng-template>
        </p-carousel>
        <div>
          {{mainInfo.history_block}}
        </div>
      </div>
    </ng-container>

    <!-- ТУТ ПРИКОЛЫ !!! -->

    <app-events [data]="services"> </app-events>

    <app-products [data]="products"></app-products>

    <div class="big-container">
      <h1 class="big-title">Инвесторам</h1>
      <p-accordion [multiple]="true">
        <p-accordionTab *ngFor="let problem of problems" [header]="problem.title">
          <p> {{problem.description}} </p><br>
          <div class="flex gap-2" [style.textDecoration]="problem.collected >= problem.necessary ? 'line-through' : ''">
            <b>{{problem.collected | currency:'RUB':'symbol-narrow':'1.0-0'}} / {{problem.necessary | currency:'RUB':'symbol-narrow':'1.0-0'}}</b>
          </div>
          <p-progressBar [showValue]="false" [value]="getPercent(problem.collected / problem.necessary)"></p-progressBar>
        </p-accordionTab>
      </p-accordion>
      <button class="mt-4 w-full md:w-fit" (click)="toggleDonationModal()">Пожертвовать</button>
    </div>
  </ng-template>

  <div *ngIf="loadingRequests != 0; else content" class="text-center">
    <p-progressSpinner></p-progressSpinner>
  </div>
</main>

<p-dialog
  [(visible)]="isDonationModalOpen"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  *ngIf="donationData"
  header="Пожертвование"
>
  <div class="grid gap-4" style="border: none;" [formGroup]="donationData">
    <p-dropdown formControlName="title" [options]="problems" optionLabel="title" optionValue="title"></p-dropdown>
    <input formControlName="amount" placeholder="Сумма пожертвования">
    <input formControlName="phone" placeholder="Номер телефона">
    <button>Подтвердить</button>
  </div>
</p-dialog>
