<main>
  <ng-template #content>
    <div class="gap-8 flex flex-col xl:flex-row items-center big-container">
      <div>
        <h1 class="main-title">
          Добро пожаловать в деревню <span>Мувыр</span>
        </h1>
        <p>
          Уникальный мир, создающий неповторимую атмосферу уюта и гостеприимства
          для жителей и гостей
        </p>
      </div>
      <img class="main-img w-full xl:w-1/2" src="assets/main.jpg" alt="" />
    </div>

    <div class="big-container">
      <h1 class="big-title">История "Мувыра"</h1>
      <p-carousel
        [value]="carouselImgs"
        [responsiveOptions]="responsiveOptions"
      >
        <ng-template let-item pTemplate="item">
          <img class="carousel-img" [src]="'assets/' + item" alt="" />
        </ng-template>
      </p-carousel>
      <div>
        В начале 1980-х Мувыр, основанный в 1837 году, был уничтожен. Дома
        разрушили, людей переселили. Александр, послуживший в армии, обещал
        вернуть родную деревню, но не мог этого сделать сразу. Провел 10 лет в
        соседней деревне, помогая родителям и учась заочно.
        <br /><br />
        В 1992 году он начал строить дом в Мувыре и через год переехал с семьей.
        Через несколько лет населенный пункт был официально восстановлен. Сейчас
        в Мувыре есть несколько новых домов и 40 жителей, все сознательно
        выбрали эту деревню.
        <br /><br />

        Александр занимается фермерским хозяйством, где содержат крупный рогатый
        скот. Зарплаты составляют 25-30 тысяч рублей, и он предоставляет
        материалы для строительства домов переселенцам бесплатно. Также его дочь
        занимается привлечением туристов в деревню.
        <br /><br />

        Мувыр имеет висячий мост через реку и часовню в честь святого Георгия
        Победоносца. Есть база отдыха, детская площадка и экстрим-парк.
        <br /><br />

        Александр Корепанов считает важным сохранить сельское хозяйство, но
        сталкивается с проблемой недостатка рабочей силы и призывает принять
        законы на федеральном уровне, чтобы привлечь молодежь в сельское
        хозяйство.
      </div>
    </div>

    <!-- ТУТ ПРИКОЛЫ !!! -->

    <app-events [data]="services"> </app-events>

    <app-products [data]="products"></app-products>

    <div class="big-container">
      <h1 class="big-title">Инвесторам</h1>
      <p-accordion [multiple]="true">
        <p-accordionTab *ngFor="let problem of problems" [header]="problem.title">
          <p> {{problem.description}} </p><br>
          <div class="flex gap-2" [style.textDecoration]="problem.collected >= problem.necessary ? 'line-through' : ''">
            <b>{{problem.collected | currency:'RUB':'symbol-narrow':'1.0-0'}} / {{problem.necessary | currency:'RUB':'symbol-narrow':'1.0-0'}}</b>
          </div>
          <p-progressBar [showValue]="false" [value]="getPercent(problem.collected / problem.necessary)"></p-progressBar>
        </p-accordionTab>
      </p-accordion>
      <button class="mt-4 w-full md:w-fit" (click)="toggleDonationModal()">Пожертвовать</button>
    </div>
  </ng-template>

  <div *ngIf="loadingRequests != 0; else content" class="text-center">
    <p-progressSpinner></p-progressSpinner>
  </div>
</main>

<p-dialog
  [(visible)]="isDonationModalOpen"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  *ngIf="donationData"
  header="Пожертвование"
>
  <div class="grid gap-4" style="border: none;" [formGroup]="donationData">
    <p-dropdown formControlName="title" [options]="problems" optionLabel="title" optionValue="title"></p-dropdown>
    <input formControlName="amount" placeholder="Сумма пожертвования">
    <input formControlName="phone" placeholder="Номер телефона">
    <button>Подтвердить</button>
  </div>
</p-dialog>
